# Dependências
node_modules/

# Build
dist/

# Ambiente
.env
.env.local
.env.production

# Uploads (imagens enviadas)
uploads/*
!uploads/.gitkeep

# Prisma
prisma/migrations/

# Logs
*.log
npm-debug.log*

# SO
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/